$button-colors: (#FF0000, #00FF00);

@for $i from 1 through length($button-colors) {
  button {
    color: nth($button-colors, $i);

    &:hover {
      color: nth($button-colors, $i + 1);
    }
  }
}
